<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>My Books</title>
		<link rel="stylesheet" href="/styles/normalize.css" type="text/css">
		<link rel="stylesheet" href="/styles/style.css" type="text/css">
	</head>
	<body>
		{{{body}}}
	</body>
</html>