<h1>My Books</h1>

<nav>
    <ul>
        <li><a href="myBooksAuthors" >Authors</a>
        </li><li><a href="myBooksBooks">Books</a>
        </li><li><a href="myBooksAddEdit">Add</a>
        </li>
    </ul>
</nav>

<p id="homeP">List the books you've read.<br />When you're at a bookseller, check here to make sure you haven't already read it.</p>
<div>
    <img src="/images/TheCentauriDevice_scaled.jpg" alt="Cover of Harrison's The Centauri Device" width="400">
</div>
<script type="text/javascript" src="/scripts/myBooksHome.js"></script>
