    <h1><a href="/">My Books</a></h1>
    
    <nav>
      <ul>
        <li ><a href="myBooksAuthors" >Authors</a>
        </li><li class="current"><a href="#">Books</a>
        </li><li><a href="myBooksAddEdit">Add</a>
        </li>
      </ul>
    </nav>
