    <h1>My Books</h1>
    
    <nav>
      <ul>
        <li><a href="myBooksAuthors" >Authors</a>
        </li><li><a href="myBooksBooks">Books</a>
        </li><li><a href="myBooksAddEdit">Add</a>
        </li>
      </ul>
    </nav>

    <p>List the books you've read.  When you're at a bookseller, check here to make sure you haven't already read it.</p>
