    <h1><a href="/">My Books</a></h1>
    
    <nav>
      <ul>
        <li class="current"><a href="#" >Authors</a>
        </li><li><a href="myBooksBooks">Books</a>
        </li><li><a href="myBooksAddEdit">Add</a>
        </li>
      </ul>
    </nav>
